<h1>
  Shopify Dawn Theme Edit</h1>

{% schema %}
  {
    "name": "Liquid Ref",
    "settings": [
      {
        "id": "liquid-ref",
        "type": "text",
        "label": "A reference for Shopify liquid"
      }
    ],
    "templates": ["index", "page"],
    "presets": [
      {
        "name": "Liquid Reference",
        "category": "Reference"
      }
    ]
  }
{% endschema %}